<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Poesia</title>
    <link rel="shortcut icon" href="../images/favi.jpg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/style/addPoetry.css">
</head>
<body class="bg-dark"> 
    <div class=" container add mt-4 mb-2 text-center rounded text-white">
        <div class="logo">
            <img src="/images/logo.jpg">
            <h1>Por fios de poesia </h1>
        </div>
        <p>Para evitar duplicidade, verifique se a poesia já foi cadastrada no nosso banco de dados.</p>
        <form action="/admin/addPoetry" method="POST" class="d-flex flex-column p-2">
            <input class="mb-3 p-2 rounded" name="title" id="title" value="<%=body.title%>" placeholder="Titulo">
            <textarea class="mb-3 p-2 rounded" name="text"id="text" value="<%=body.text%> " rows="5" placeholder="Texto"></textarea>
            <input class="mb-3 p-2 rounded" name="author" id="author" value="<%=body.author%>" placeholder="Autor">
            <input class="mb-3 p-2 rounded" name="url" id="url" value="<%=body.url%>" placeholder="Url">
            <p class="text-white mt-1 mb-2" >Adicione palavras-chave e insira uma virgula( , ) após cada palavra</p>
            <span id='remaining'></span>
            <textarea class="mb-3 p-2 rounded" rows="2" name="tags" id="tags" value="<%=body.tags%>" placeholder="Tags"></textarea>
            <button class="btn mt-3 mb-4 p-2 bg-purple text-white rounded" id="add">Adicionar</button>
        </form>
    </div> 
</body>
<footer>
    <hr>
    <p><a href="https://www.linkedin.com/in/marcia-bimaggi-marcia-beserra-de-oliveira-9303801b9/"class="text-decoration-none text-muted " target="_blank"><strong>Copyright&copy 2021; Created and powered by Marcia Bimaggi</strong></a></p> 
</footer>
<script>
    let tags= document.querySelector('#tags')
    tags.addEventListener('keyup',charactersCount,false)
    
    function charactersCount(){
        tags.disabled =false

    if(tags.value.length > 200){
        document.querySelector('#tags').disabled = true
        return false;
    } 
 document.querySelector("#remaining").innerHTML=("Caracteres restante: " +(200 - this.value.length))
};


</script>
</html>