<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Poesias</title>
</head>
<body>
    <h1>Edit Poetry</h1>
    <form action="/edit/<%=body.id%>" method="POST">
        <input name="title" value="<%=body.title%>" placeholder="Title">
        <input name="text" value="<%=body.text%>" placeholder="Text">
        <input name="author" value="<%=body.author%>" placeholder="Author">
        <input name="url" value="<%=body.url%>" placeholder="Url">
        <button>Edit</button>
    </form>
   
</body>
</html>