<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favi.jpg" type="image/x-icon">
    <title>Por fios de poesia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
    <header>
        <div class="container menu">
            <div class=" logo">
                <img src="images/logo.jpg">
                <h1>Por fios de poesia</h1>
            </div>
            <div class="list">
                <ul class="container">
                    <a href="#init"><li>Inicio</li></a>
                    <a href="#author"> <li>Quem sou</li></a>
                    <a href="#books"> <li>Meus Livros</li></a>
                    <a href='/user/login'><li>Compartilhe sua poesia</li></a>
                </ul>
            </div>
        </div>
    </header>
    <main class="container">
        <form action="/search" method="get" id="searchForm">
            <div class="container search">
                 <input type="text"name="query" placeholder="Buscar por autor ou palavra-chave"/>
                 <button type="submit">Buscar</button>
             </div>
         </form>
        <div class="container poetry">
            <%
             if(results){
                if(list.length > 0){
             %>
             <p><strong>Resultados da pesquisa por: <%=search%></strong></p>
             <div class="cardspoetry" style="white-space: pre-wrap">
                <%list.forEach(function(item){%>
                   <h2><%=item.title%></h2>
                   <div class="item"><%=item.text%></div>
                   <div class="aut"><strong><%=item.author%></strong></div>
                   <div class="url""><a href="<%=item.url%>" target="_blank"><%=item.url%></a></div>
                <%})%>
				</div>
            	<div  class="book">
            	    <div>
            	        <a href="https://clubedeautores.com.br/livro/florir-por-fios-de-poesia"target="_blank">
                            <img src="images/florirPorFiosDePoesia.jpg">
                        </a>
            	        <p><strong>Versão impressa</strong></p>
            	    </div>
            	    <div>
            	        <a href="#">
                            <img src="images/poesiaDeTerreiro.jpg">
                        </a>
            	        <p><strong>Versão Impressa</strong></p>
            	    </div>
            	</div>
            	<%}else{%>
                	<b>Nenhum resultado encontrado para "<%=search%>"</b>
            	<% } 
            }%>
        </div>
       
        <div class="container text" id="init">
            <div class="cards">
                <h2>Poesia e arte!</h2>
                <p>A poesia vai muito além da estrutura textual de um poema, 
                    ela não tem uma forma específica, não pode ser tocada por 
                    nós, porém, ela nos toca e nos envolve, isso por que a poesia 
                    é a própria emoção advinda de uma obra.</br>
                    A sua arte pode estar carregada de poesia, e ser fonte 
                    inspiradora para quem a lê, mesmo que não haja palavras.</br>
                    Há poesia na dança, na pintura, na escultura, na peça de 
                    teatro, no desenho, no cinema, na costura, na maquiagem e 
                    mesmo no silêncio ou no vázio, encontra-se um fio de poesia.
                </p>
                <p><strong>Marcia Bimaggi</strong></p>
            </div>
            <div class="cards phrase">
                <h2>Obras repletas de poesia</h2>
                <div class="images">
                    <div class="image">
                        <img src="images/the_Force_of_Nature.jpg" alt="A força da natureza">
                        <label for="The_Force_of_Nature">
                        <a class ="text-decoration-none text-dark" 
                        href="https://www.lorenzoquinn.com/portfolio-items/installations-the-force-of-nature-2/"
                        target="_blank">
                        The Force of Nature - Lorenzo Quinn
                        </a>
                    </label>
                    </div>
                    <div class="image">
                        <img src="images/melancoly.jpg" alt="melancolia">
                        <label for="melancoly">
                            <a class ="text-decoration-none text-dark"
                            href="https://www.penwellgabeltopeka.com/Blog/6245/Melancoliesculpture"
                            target="_blank">
                            Melancoly - Albert György 
                            </a>
                        </label>
                    </div>
                    <div class="image">
                        <img src="images/expansion.jpg" alt="meditação">
                        <label for="expansion">
                            <a class ="text-decoration-none text-dark" 
                            href="http://paigebradley.com/blog/the-story-of-expansion/"
                            target="_blank">
                            Expansion - Paige Bradley 
                            </a>
                        </label>
                    </div>
                </div> 
            </div>  
            <div class="cards">
                <h2>O tempo através da poesia!</h2>
                <p>
                    Através da poesia é possível ter uma vasta idéia sobre uma 
                    sociedade específica, seus costumes, política, matérias-primas,
                    relacionamentos, leis, doenças, avanços tecnológicos, enfim...
                    A poesia aparece entre os primeiros registros  das culturas 
                    letradas, assim como as nossas poesias sem dúvida servirão de 
                    portais para que as futuras gerações se aproximem dos nossos 
                    sentimentos e emoções.
                </p>
            </div>  
            <div class="cards">
                <h2>Se toca a alma, é poesia...</h2>
                <div class="images">
                    <div class="image"> 
                        <img src="images/sulamita.jpg" alt="Sulamita">
                        <label for="Sulamita">
                            <a class ="text-decoration-none text-dark" 
                            href="http://artistasdobrasil.com/2018/09/05/sulamita/" 
                            target="_blank">
                            Sulamita - Kaká Chazz
                            </a>
                        </label>
                    </div>
                    <div class="image">
                        <img src="images/a_Persistência_da_Memória.jpg" alt="A Persistência da Memória">
                        <label for="a_Persistência_da_Memória">
                            <a class ="text-decoration-none text-dark"  
                            href="https://www.culturagenial.com/a-persistencia-da-memoria-de-salvador-dali/" 
                            target="_blank">
                            A Persistência da Memória - Salvador Dalí
                            </a>
                        </label>
                    </div>
                    <div class="image">
                        <img src="images/criança_Morta.jpg" alt="Criança Morta">
                        <label for="criança_Morta">
                            <a class ="text-decoration-none text-dark "
                            href="https://artsandculture.google.com/asset/dead-child/nQEpcxw6cW9fOQ?hl=pt-br" 
                            target="_blank">
                            Criança Morta - Candido Portinari 
                            </a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="cards">
               <h2>Poesia e ciência!</h2>
               <p>
                   Estudos realizados por Universidades afirmam que a poesia traz mais 
                   benefícios que livros de auto-ajuda. Também existem estudos que asseguram 
                   que a leitura poética auxilia no aprendizado, aumenta a criatividade das 
                   crianças e estimula a memória nos mais idosos. </br>
                   Penso que de fato não possa ser o contrário, pois como mencionei acima,
                   poesia é o próprio sentimento encontrado na arte, e a arte cura, resgata, recupera,
                   transforma, colore, ilumina, eleva a auto-estima, alegra, afaga, aviva o coração de
                   quem por ela se deixa tocar.
               </p>
            </div>  
            <div class="cards">
                <h2>Criamos arte, e ela se faz poesia</h2>
                <div class="images">
                    <div class="image">
                        <img src="images/bolos.jpg" alt="bolos">
                        <label for="bolos">
                            <a class ="text-decoration-none text-dark"
                            href="https://www.clairellacakes.com/" 
                            target="_blank">
                            Noivos - Clairella Cakes / 
                            </a> 

                            <a class ="text-decoration-none text-dark" 
                            href="https://www.facebook.com/SweetlakeCakes/" 
                            target="_blank">
                            Gotico -Sweetlake Cakes
                            </a> 
                        </label>
                    </div> 
                    <div class="image">
                        <img src="images/croqui_Conrado.jpg" alt="croqui_Conrado">
                        <label for="croqui_Conrado">
                            <a class ="text-decoration-none text-dark" 
                            href="https://vogue.globo.com/moda/moda-news/noticia/2018/04/explosao-criativa-um-tour-pela-exposicao-de-conrado-segreto-no-spfw2.html" 
                            target="_blank">
                            Croqui - Conrado Segreto
                            </a>
                        </label>
                    </div> 
                    <div class="image">
                        <img src="images/narciso.jpg" alt="Narciso">
                        <label for="narciso">
                            <a class ="text-decoration-none text-dark"
                            href="https://peregrinacultural.wordpress.com/tag/vik-muniz/" 
                            target="_blank">
                            Narciso - Vik Muniz
                            </a>
                        </label>
                    </div>
                </div>
            </div>
        </div>  
        <div class="container" id="author">
            <div class="author">
                <img src="images/marcia.jpg" >
                <h2 class="mb-3">Marcia Bimaggi</h2>
            </div>
            <div class="cards">
                <p>            
                    Através da escrita encontrei uma porta para expressar minha visão do mundo, 
                    meus desabafos, meus sentimentos, minha imaginação, minha arte e aprendi a 
                    transformar e me transformar.
                    Essa porta uma vez aberta tem um alcance tão vasto, lúcido, criador, intenso, 
                    louco, acolhedor e belo.
                    Me descobri poeta, quando percebi a arte em minha vida, em uma variedade de formas, 
                     e tornar viva o que poderia ser apenas uma palavra ou um conjunto delas, quando muitas vezes 
                    permitimos apenas que se percam no ar.
                </p>
            </div>
        </div>

        <div class="container books" id="books">
            
            <div class="img1"> 
                <a href="https://clubedeautores.com.br/livro/florir-por-fios-de-poesia"target="_blank">
                    <img src="images/florirPorFiosDePoesia.jpg">
                </a>
                <p><strong>Versão impressa</strong></p>
            </div>
            <div class="img2">
                <a href="#">
                    <img src="images/poesiaDeTerreiro.jpg">
                </a>
                <p><strong>Versão Impressa</strong></p>
            </div>
            <div class="img1">
                <a href="https://hotmart.com/product/florir-por-fios-de-poesia/D46087075T"target="_blank">
                    <img src="images/florirPorFiosDePoesia.jpg">
                </a>
                <p><strong>Versão digital</strong></p>
            </div>
            <div class="img2">
                <a href="#">
                    <img src="images/poesiaDeTerreiro.jpg">
                </a>
                <p><strong>Versão Digital</strong></p>
            </div>
        </div>
        <div class="contact">
            <a href="/termOfUse">Termo de uso</a>
            <a href="/privicyPolicy">Politica de privacidade</a>
            <a href="https://api.whatsapp.com/send?l=pt_BR&phone= 5511954001878 & text= Olá gostaria de adquir um de seus livros//tenho interesse em divulgar minhas poesias " target="_blank">
            <img src="images/whatsapp.png" alt=" Chamar no whatsapp" >
                Entrar em contato
            </a>
            <a href="mailto:porfiosdepoesia@gmail.com">
            <strong></strong>porfiosdepoesia@gmail.com
            </a>
            <a href="#init">Voltar ao Início</a>
        </div>  
    </main>
    <hr> 
    <footer>
        <p>
            <a href="https://www.linkedin.com/in/marcia-bimaggi-marcia-beserra-de-oliveira-9303801b9/" 
            target="_blank">
            <strong>Copyright&copy 2021; Created and powered by Marcia Bimaggi</strong>
            </a>
        </p> 
        <div class="container">
            <ul>
                <li>
                    <a href="https://www.instagram.com/porfiosdepoesia/"target="_blank">
                        <img src="images/instagram.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/porfiosdepoesias/"target="_blank">
                        <img src="images/facebook.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/porfiosdepoesia" target="_blank">
                        <img src="images/youtube.png">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>